
<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="author" content="Eugenio Pájaro"/>
        <title>Loguin</title>        
    </head>
    <body >
        <form action="{% url 'user-login' %}" method="post" enctype="multipart/form-data" id="form"  action="post">
        {%csrf_token%}
        <ul>
            {{form.as_ul}}
        </ul>
        <input type="reset" >
        <input type="submit">
        <input type="hidden" name="next" value="{{ next }}">
    </form>
        
    </body>
</html>